@model FMB_Kuwait.Models.MemberDataViewModel

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dataTables.tailwindcss.css" rel="stylesheet" />
<link href="~/Content/output.css" rel="stylesheet" />
<div class="container mx-auto mt-3">
    <div class="mx-auto bg-white rounded-lg overflow-hidden shadow-md">
        <div class="p-6">
            <!-- Form Title -->
            <h2 class="text-xl font-bold mb-4">Members</h2>
            <div class="relative rounded-xl overflow-auto">
                <div class="relative overflow-x-auto">
                    <table class="table-auto" id="dataTable">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    <span class="t">Tag</span>
                                </th>
                                <th scope="col" class="px-6 py-3">Count</th>
                                <th scope="col" class="px-6 py-3">Floor</th>
                                <th scope="col" class="px-6 py-3">Flat</th>
                                <th scope="col" class="px-6 py-3">HouseId</th>
                                <th scope="col" class="px-6 py-3">DeliveryPerson</th>
                                <th scope="col" class="px-6 py-3">DeliveryPerson2</th>
                                <th scope="col" class="px-6 py-3">MasoolName</th>
                                <th scope="col" class="px-6 py-3">Mobile</th>
                                <th scope="col" class="px-6 py-3">ThaliNumber</th>
                                <th scope="col" class="px-6 py-3">ThaliCode</th>
                                <th scope="col" class="px-6 py-3">Size</th>
                                <th scope="col" class="px-6 py-3">NewCode</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white dark:bg-slate-800">
                            @foreach (var item in Model.memberDatasList)
                            {
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <td>
                                        <a href="/Home/AddTag/@item.Id" class="px-6 py-4 font-medium text-blue-600 dark:text-blue-500
                                                       hover:underline">Tags</a>
                                    </td>
                                    <td class="px-6 py-4">
                                        <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-red-400">
                                            @item.Count
                                        </span>
                                    </td>
                                    <td class="px-6 py-4">@item.Floor</td>
                                    <td class="px-6 py-4">@item.Flat</td>
                                    <td class="px-6 py-4">@item.HouseId</td>
                                    <td class="px-6 py-4">@item.DeliveryPerson</td>
                                    <td class="px-6 py-4">@item.DeliveryPerson2</td>
                                    <td class="px-6 py-4">@item.MasoolName</td>
                                    <td class="px-6 py-4">@item.Mobile</td>
                                    <td class="px-6 py-4">@item.ThaliNumber</td>
                                    <td class="px-6 py-4">@item.ThaliCode</td>
                                    <td class="px-6 py-4">@item.Size</td>
                                    <td>@item.NewCode</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/DataTable/jquery-3.7.1.js"></script>
<script src="~/Scripts/DataTable/dataTables.js"></script>
<script src="~/Scripts/DataTable/dataTables.tailwindcss.js"></script>

<script type="text/javascript">
    $('#dataTable').DataTable();
    //{
    //    //'columnDefs': [{
    //    //    'targets': [1], /* column index */
    //    //    'orderable': false, /* true or false */
    //    //}],
    //    //'responsive': true,
    //    'select': {
    //        'style': 'multi',
    //            'selector': 'td:not(.control)'
    //    },
    //    'dom': 'Bfrtip',
    //        'buttons': [
    //            'copyHtml5',
    //            'excelHtml5',
    //            'csvHtml5',
    //            /*'pdfHtml5'*/
    //        ],
    //}
</script>